html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: $default;
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
}

main {
    flex-grow: 1;
}

.title {
    font-size: 36px;
    line-height: 42px;
    color: #191919;
    margin-bottom: 40px;
    @extend %dmsans-700;
}

.breadcrumbs {
    display: flex;
    justify-content: center;
    align-items: center;
    &__items {
        display: flex;
    }

    &__item {
        & + .breadcrumbs__item {
            padding-left: 15px;
            margin-left: 9px;
        }
    }

    &__item {
        position: relative;
        &:not(:first-child) {
            &::after {
                content: "/";
                position: absolute;
                left: 0;
            }
        }
    }
    &__link {
        font-size: 14px;
        line-height: 24px;
        color: #222933;
    }
}

.filter {
    button {
        border: none;
        background-color: transparent;
        @extend %dmsans-700;
        font-size: 16px;
        line-height: 24px;
        color: #939393;
        cursor: pointer;
        transition: all 0.3s;
        margin-left: 20px;
        &.mixitup-control-active {
            color: #1a1a1a;
        }
        &:hover {
            color: #1a1a1a;
        }
    }
}

.filter-title__item {
    display: inline-block;
    padding-right: 60px;
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 25px;
    &::after {
        content: "";
        position: absolute;
        width: 38px;
        height: 3px;
        background-color: #c8d6de;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.filter {
    &__item-input {
        @extend %checkbox;
        &:checked + .filter__item-checkbox {
            background-color: $accent;
            .filter__item-brand__checkbox-icon {
                color: $default;
            }
        }
    }
    &__item-checkbox {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        padding: 5px 20px;
        border-radius: 5px;
        margin-bottom: 10px;
        &:hover {
            background-color: $accent;
        }
    }
    &__item-brand__checkbox {
        box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    }
    &__item-checkbox-text {
        line-height: 42px;
    }
    &__item-icon {
        line-height: 42px;
    }
    &__item-brand__checkbox-icon {
        color: #c2c2c2;
    }
    &__item-category__checkbox {
        box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    }
}

.filter-item {
    max-width: 270px;
    width: 100%;
    margin-bottom: 60px;
}

.contact-link {
    display: flex;
    justify-content: space-between;
    margin-bottom: 125px;
    &__item {
        min-width: 360px;
        padding: 70px 0;
        margin: 0 auto;
        background-color: #fbfbfb;
        transition: all 0.3s;
        &:hover {
            border: 3px solid #a3bbc8;
            .contact-link__images {
                background-color: #a3bbc8;
            }
            path {
                fill: #fff;
            }
        }
    }
    &__images {
        transition: all 0.3s;
        width: 80px;
        height: 80px;
        border-radius: 15px;
        background-color: #fff;
        margin: 0 auto;
        box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
        text-align: center;
        padding-top: 15px;
    }
    &__title {
        text-align: center;
        margin-top: 60px;
        font-size: 20px;
        line-height: 26px;
        @extend %dmsans-700;
        color: #222222;
        margin-bottom: 15px;
    }
}
