html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: $deafault;
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
}

main {
    flex-grow: 1;
}

.title {
    font-size: 36px;
    line-height: 42px;
    color: #191919;
    margin-bottom: 40px;
    @extend %dmsans-700;
}

.breadcrumbs {
    display: flex;
    justify-content: center;
    align-items: center;
    &__items {
        display: flex;
    }

    &__item {
        & + .breadcrumbs__item {
            padding-left: 15px;
            margin-left: 9px;
        }
    }

    &__item {
        position: relative;
        &:not(:first-child) {
            &::after {
                content: "/";
                position: absolute;
                left: 0;
            }
        }
    }
    &__link {
        font-size: 14px;
        line-height: 24px;
        color: #222933;
    }
}

.filter {
    button {
        border: none;
        background-color: transparent;
        @extend %dmsans-700;
        font-size: 16px;
        line-height: 24px;
        color: #939393;
        cursor: pointer;
        transition: all 0.3s;
        margin-left: 20px;
        &.mixitup-control-active {
            color: #1a1a1a;
        }
        &:hover {
            color: #1a1a1a;
        }
    }
}




