@media (max-width: 1204px) {
    .products-gallery {
        &__gallery {
            grid-template-columns: repeat(3, 3fr);
        }
    }
    .design-gallery {
        &__items {
            grid-template-columns: repeat(2, 2fr);
        }
    }

    .products-banner {
        display: none;
    }
}

@media (max-width: 1148px) {
    .delivery {
        position: relative;
        padding: 0;
        &::after,
        &::before {
            content: "";
            position: absolute;
            background-color: transparent;
            width: 0;
            height: 0;
            right: 0;
            top: 0;
        }
        &::after {
            left: 0;
        }
    }
}
@media (max-width: 1071px) {
    .menu {
        margin-left: 20px;
        order: 1;
        &__btn {
            width: 30px;
            height: 30px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border: none;
            background-color: transparent;
            padding: 0;
            span {
                position: absolute;
                background-color: $default;
                width: 100%;
                height: 3px;
            }
            &::after,
            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 3px;
                background-color: $default;
            }

            &::after {
                top: 5px;
            }
            &::before {
                bottom: 5px;
            }
        }
        &__list {
            display: flex;
            transform: translateY(-200%);
            position: absolute;
            top: 150px;
            width: 100%;
            left: 0;
            flex-direction: column;
            text-align: center;
            z-index: 5px;
            transition: all 0.3s;
            & .menu__list--active {
                transform: translateY(90%);
                transition: all 0.3s;
            }
        }
        &__list-item + .menu__list-item {
            margin-left: 0;
        }
        &__list-item {
            width: 100%;
            border-bottom: 1px solid $default;
            text-align: center;
            padding: 0 15px;

            &:first-child {
                border-top: 1px solid $default;
            }
        }

        &__list-link {
            width: 100%;
            padding: 10px 0;
            display: block;
        }
    }
    .user-menu {
        &__inner {
            margin: 20px;
        }
    }

    .footer {
        &__inner {
            flex-wrap: wrap;
        }

        &__item {
            width: 25%;
        }
    }
    .footer-form {
        &__input,
        &__btn {
            width: 100%;
        }
        &__btn {
            margin: 0;
        }
    }

    .slider-shop {
        height: 755px;
        &__title {
            font-size: 53px;
            line-height: 55px;
            color: #243f4d;
            margin-bottom: 20px;
        }
    }

    .video__preview {
        height: 400px;
    }

    .articles-content {
        &__items {
            padding-left: 100px;
        }
    }
}

@media (max-width: 950px) {
    .footer {
        &__logo {
            img {
                max-width: 100px;
            }
        }
        &__item {
            width: 47%;
        }
    }
    .products-gallery {
        &__gallery {
            grid-template-columns: repeat(2, 3fr);
        }
        &__gallery-item {
            width: 100%;
        }
    }
}

@media (max-width: 816px) {
    .design-gallery {
        &__info {
            display: flex;
            justify-content: space-between;
        }
        &__items {
            grid-template-columns: repeat(1, 1fr);
        }
        &__item {
            background-position: bottom 20% right 14%;
            max-width: 100%;
            &:nth-child(6) {
                background-position: bottom 20% right 14%;
            }
        }
        &__style {
            padding-right: 20px;
        }
    }
}

@media (max-width: 785px) {
    .slider-shop {
        height: 630px;
        &__title {
            font-size: 40px;
            line-height: 42px;
            color: #243f4d;
            margin-bottom: 5px;
        }
        &__subtitle {
            margin-bottom: 27px;
        }
        &__btn {
            padding: 25px 10px;
            padding-right: 50px;
            max-width: 150px;
        }
        &__item {
            margin-bottom: 100px;
            flex-direction: column;
            padding-top: 35px;
            margin-bottom: 43px;
        }

        &__content {
            max-width: none;
        }
    }

    .video {
        padding: 50px 0;
        &__preview {
            height: 300px;
        }
        &__link {
            width: 123px;
            height: 121px;
        }
        &__btn-img {
            padding: 33px;
        }
    }
}

@media (max-width: 690px) {
    .footer {
        &__item {
            width: 45%;
        }
    }
    .footer-bottom__inner {
        display: block;
    }
    .products-gallery {
        &__gallery {
            grid-template-columns: repeat(1, 2fr);
        }
    }

    @media (max-width: 620px) {
        .advantages {
            &__item {
                width: 100%;
            }
        }
    }

    @media (max-width: 587px) {
        .menu {
            padding-right: 10px;
            order: 0;
        }
    }

    @media (max-width: 570px) {
        .slider-shop {
            height: 566px;
            &__btn {
                padding: 19px 8px;
                padding-right: 50px;
                max-width: 136px;
            }
        }
        .slider-shop__title {
            font-size: 33px;
            line-height: 35px;
            margin-bottom: 5px;
        }
    }

    @media (max-width: 505px) {
        .footer {
            &__item {
                width: 100%;
            }
            &__item-menu {
                display: flex;
            }
            &__item-menu__list {
                & + .footer__item-menu__list {
                    margin-left: 15px;
                }
            }
        }
        .design-gallery {
            &__item {
                background-position: bottom 20% right 114%;
                &:nth-child(6) {
                    background-position: bottom 20% right 134%;
                }
                &:nth-child(5) {
                    background-position: bottom right 20%;
                }
                &:nth-child(3) {
                    background-position: bottom 20% right 30%;
                }
            }
            &__inner {
                padding: 28px 0 0 30px;
            }
        }
    }

    @media (max-width: 387px) {
        .user-menu {
            &__btn-item__user {
                margin-left: 5px;
            }
            &__btn-item__heart {
                padding: 20px 0;
                padding-left: 20px;
                padding-right: 20px;
                position: relative;
            }
            &__btn-item__barrow {
                padding: 20px 0;
                padding-right: 20px;
                padding-left: 20px;
            }
            &__btn-item__heart::before {
                right: -20px;
                top: 8px;
                opacity: 0.5;
            }
            &__num {
                right: 11px;
            }
            &__btn-item__heart::before {
                right: -33px;
            }
        }

        .footer__item-text {
            padding-right: 10px;
        }

        .footer-bottom__nav-item {
            padding-right: 10px;
        }

        .video {
            padding: 50px 0;
            &__preview {
                height: 200px;
            }
            &__link {
                width: 93px;
                height: 87px;
            }
            &__btn-img {
                padding: 18px;
            }
        }
    }

    @media (max-width: 350px) {
        .user-menu {
            &__btn-item__heart::before {
                opacity: 0;
            }
        }
    }
}
