.product {
    padding: 120px 0;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__content {
        width: 875px;
    }
    &__gallery-shop {
        width: 875px;
        display: grid;
        grid-template-columns: repeat(3, 4fr);
        grid-gap: 30px;
        margin-bottom: 100px;
    }
    &__filter-price__visible {
        display: flex;
        justify-content: space-between;
    }
    &__filter-price__from,
    &__filter-price__to {
        padding-left: 10px;
        position: relative;
        font-size: 14px;
        line-height: 43px;
        color: $default;
        &::before {
            content: "$";
            position: absolute;
            left: 0;
        }
    }
}

.irs--flat .irs-line,
.irs--flat .irs-bar {
    top: 30px;
    height: 3px;
    background-color: #dfe7ec;
    border-radius: 4px;
}

.irs--flat .irs-bar {
    background-color: #a3bbc8;
}

.irs--flat .irs-handle > i:first-child {
    position: absolute;
    display: block;
    top: 2px;
    left: 50%;
    width: 15px;
    height: 15px;
    margin-left: -1px;
    background-color: #a3bbc8;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
    display: none;
}

.irs--flat {
    margin-bottom: 10px;
}

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
    display: none;
}

.irs--flat .irs-handle.state_hover > i:first-child,
.irs--flat .irs-handle:hover > i:first-child {
    background-color: #a3bbc8;
}

.recent-product {
    &__box {
        display: flex;
        margin-bottom: 25px;
    }

    &__img {
        margin-right: 20px;
        border: 3px solid #f2f2f2;
        padding: 5px 5px;
        width: 70px;
        height: 70px;
        object-fit: contain;
    }
    &__title {
        font-size: 14px;
        line-height: 15px;
        color: #333333;
        margin-bottom: 12px;
    }
    &__price {
        font-size: 15px;
        line-height: 27px;
        color: #333333;
    }
}

.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group {
    margin-bottom: 10px;
}

.jq-ry-container {
    padding: 0;
}

.pagination__shop {
    display: flex;
    justify-content: center;
}

.second-product {
    padding: 120px;
    &__inner {
        display: flex;
    }
    &__content {
        width: 835px;
    }
    &__item {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 40px;
    }
    &__item-images {
        border: 2px solid #f2f2f2;
        width: 365px;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            object-fit: cover;
        }
    }
    &__item__btn {
        border: none;
        background-color: #fff;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        padding: 12px 15px;
        cursor: pointer;
        transition: all 0.5s;
        &:hover {
            background-color: #a3bbc8;
            path {
                fill: #fff;
            }
        }
        & + .second-product__item__btn {
            margin-left: 5px;
        }
    }
    &__item-info {
        max-width: 405px;
    }
    &__item-title {
        font-size: 40px;
        line-height: 57px;
        color: #333333;
        margin-bottom: 10px;
    }
    &__star {
        margin-bottom: 10px;
    }
    &__item-price {
        font-size: 30px;
        line-height: 45px;
        color: #333333;
    }
    &__item-text {
        margin-bottom: 25px;
    }
    &__item-btn {
        background-color: #a3bbc8;
        color: #fff;
        text-transform: uppercase;
        padding: 15px 50px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }
}

@media (max-width: 1199px) {
    .product {
        &__inner {
            flex-direction: column;
        }
        &__gallery-shop {
            margin: 0px auto 100px;
        }
    }
    .filter {
        &__item-recent-product {
            display: none;
        }
    }
    .product-filter {
        &__inner {
            width: 85%;
            margin: 0 auto;
        }
    }
}

@media (max-width: 910px) {
    .product {
        &__gallery-shop {
            grid-template-columns: repeat(2, 4fr);
            width: 100%;
        }
    }
}

@media (max-width: 620px) {
    .product {
        padding: 50px 0 120px;
        &__gallery-shop {
            grid-template-columns: repeat(1, 4fr);
        }
    }
}
