$deafault: #243f4d; 
$accent: #edf1f4;
 


%rubik-500 {
    font-family: 'Rubik-Medium';
    font-weight: 500;

}

%rubik-400 {
    font-family: 'Rubik-Regular';
    font-weight: 400;

}

%dmsans-700 {
    font-family: 'DMSans-Bold';
    font-weight: 700;

}

%dmsans-400 {
    font-family: 'DMSans-Regular';
    font-weight: 400;
}

%dmsans-500 {
    font-family: 'DMSans-Medium';
    font-weight: 500;
}

%checkbox{
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
}

%blog-title{
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        width: 38px;
        height: 3px;
        background-color: #c8d6de;
        right: 100px;
        top: 50%;
        transform: translateY(-50%);
    }
}

@function max($numbers...) {
@return m#{a}x(#{$numbers});
}
 @function min($numbers...) {
@return m#{i}n(#{$numbers});
}


