@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";
@import "index";
@import "page-login";
@import "page-conditions";
@import "page-blog";
@import "page-blog-one";
@import "page-product-list";
@import "page-product-list2";
@import "page-contacts";
@import "page-product-cart";




.container-big {
    max-width: 1800px;
    padding: 0 15px;
    margin: 0 auto;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}



@import "media";
