@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";
@import "index";
@import "page-login";


.container-big {
    max-width: 1800px;
    padding: 0 15px;
    margin: 0 auto;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}



.conditions {
    padding: 115px 0 20px;
    &__content {
        max-width: 100%;
    }
    &__title {
        @extend %rubik-500;
        font-size: 24px;
        line-height: 40px;
        margin-bottom: 25px;
    }
    &__menu-list {
        width: 100%;
        margin-bottom: 70px;
        margin-left: 35px;
    }

    &__menu-item {
        list-style: decimal-leading-zero;
        margin-bottom: 20px;
    }
    &__content-title {
        margin-bottom: 20px;
    }
    &__content-descr {
        margin-bottom: 70px;
    }
}

.blog {
    padding: 120px 0;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__item-content {
        max-width: 830px;
        margin-bottom: 50px;
    }
    &__item-content-img {
        margin-bottom: 30px;
    }
    &__item-content__link-box {
        max-width: 275px;
        display: flex;
        justify-content: space-between;
        background-color: #a3bbc8;
        padding: 20px 20px 20px 20px;
        margin-top: -69px;
        z-index: 2;
        position: absolute;
        a {
            color: #fff;
            font-size: 12px;
            line-height: 30px;
            text-transform: uppercase;
            padding-left: 20px;
        }
    }
    &__item-content__link-date,
    &__item-content__link-author {
        padding-left: 20px;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            width: 15px;
            height: 15px;
            left: 0;
            margin-top: 7px;
        }
    }
    &__item-content__link-date {
        &:before {
            background-image: url("../images/icons/calendar-white.svg");
        }
    }
    &__item-content__link-author {
        margin-left: 20px;
        &:before {
            background-image: url("../images/icons/user-white.svg");
        }
    }
    &__item-content__title {
        font-size: 36px;
        line-height: 42px;
        color: #333333;
        margin-top: 30px;
        margin-bottom: 35px;
    }
    &__item-content__text {
        color: #334c59;
        margin-bottom: 30px;
    }
    &__item-content__btn {
        display: block;
        font-size: 15px;
        line-height: 12px;
        color: #a3bbc8;
        padding: 25px 85px 25px 25px;
        max-width: 195px;
        background-color: transparent;
        position: relative;
        border: 1px solid #a3bbc8;
        &::before {
            content: "";
            position: absolute;
            background-image: url("../images/icons/blog-arrow-left.svg");
            width: 22px;
            height: 9px;
            right: 23px;
        }
    }
}

.blog-filter {
    &__inner {
        max-width: 270px;
    }
    &__item-search {
        max-width: 270px;
        margin-bottom: 50px;
    }
    &__item-search__form {
        display: flex;
    }
    &__item-search__input {
        border: 1px solid $accent;
        margin-right: -3px;
        padding: 10px;
        width: 100%;
    }
    &__item-search__btn {
        background-color: $accent;
        border: none;
        cursor: pointer;
        padding: 0 17px;
        border-radius: 5px;
    }
    &__item-rec-post__title {
        margin-bottom: 35px;
    }
}

.recent-post {
    &__item-img-link {
        margin-right: 20px;
    }
    &__wrapper {
        display: flex;
        align-items: end;
        width: 100%;
    }
    &__item-link__title {
        font-size: 14px;
        line-height: 20px;
        color: #333333;
        @extend %rubik-400;
    }
    &__item-link__date {
        font-size: 12px;
        color: #9a9a9a;
        position: relative;
        padding-left: 20px;
        &::before {
            content: "";
            background-image: url("../images/icons/calendar.svg");
            position: absolute;
            left: 0;
            width: 12px;
            height: 12px;
            margin-top: 8px;
        }
    }
}

.pagination {
    display: flex;
    align-items: center;
    &__list {
        display: flex;
    }
    &__link,
    &__next {
        padding: 20px;
        border: 1px solid #a3bbc8;
        color: #334c59;
        @extend %rubik-500;
        font-size: 16px;
        line-height: 30px;
        margin-left: 15px;
        transition: all 0.3s;
        &:hover {
            background-color: #a3bbc8;
            color: #fff;
            border: none;
        }
    }
    &__next {
        padding: 15px;
    }
    &__link--active {
        background-color: #a3bbc8;
        color: #fff;
        border: none;
    }
}

.blog-details {
    padding: 120px 0;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__content {
        max-width: 840px;
    }
    &__content-one-paragraph {
        @extend %rubik-500;
        margin-bottom: 20px;
    }
    &__title {
        margin-bottom: 20px;
    }
}

.blockquote {
    padding: 25px 100px 25px 30px;
    width: 100%;
    background-color: #edf1f4;
    border-left: 6px solid #a3bbc8;
    margin-bottom: 40px;
    &__bottom {
        padding-left: 40px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 20px;
            height: 3px;
            background-color: #a3bbc8;
            left: 0;
            margin-top: 15px;
        }
    }
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    &__info {
        max-width: 475px;
    }
    &__title {
        font-size: 18px;
        margin-bottom: 30px;
    }
    &__text {
        color: #565872;
    }
}

.blog-details {
    &__end-title {
        @extend %rubik-500;
        font-size: 18px;
        margin-bottom: 10px;
    }
    &__end-text {
        color: #565872;
        margin-bottom: 60px;
    }
    &__author {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        border-top: 2px solid #ebebeb;
        border-bottom: 2px solid #ebebeb;
        margin-bottom: 50px;
    }
    &__author-photo {
        width: 80px;
        height: 80px;
        object-fit: cover;
    }
    &__author-info {
        display: flex;
        max-width: 280px;
        align-items: center;
    }
    &__author-info__inner {
        margin-left: 20px;
    }
    &__author-name {
        @extend %rubik-500;
        font-size: 18px;
        line-height: 25px;
        color: #333333;
    }
    &__author-position {
        color: #666666;
    }
    &__author-contact {
        max-width: 195px;
        span {
            line-height: 26px;
            color: #666666;
        }
    }
    &__author-tags {
        display: flex;
        margin-bottom: 15px;
        span {
            margin-right: 20px;
        }
    }
    &__author-tags__list {
        display: flex;
        line-height: 26px;
        line-height: 26px;
        color: rgba(#666666, 0.7);
    }
    &__author-social {
        display: flex;
        align-items: center;
        span {
            display: block;
        }
    }
    &__author-social__list {
        display: flex;
    }
    &__author-social__item {
        margin-left: 25px;
    }
    &__author-social__item-link {
        display: inline-block;
    }
    &__comments {
        margin-bottom: 90px;
    }
    &__comments-photo {
        width: 110px;
        height: 110px;
        object-fit: cover;
        margin-top: 7px;
    }
    &__comments-title {
        @extend %dmsans-700;
        font-size: 24px;
        line-height: 36px;
        color: #436372;
        margin-bottom: 50px;
    }
    &__comments-item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
    }
    &__comments-item__second {
        max-width: 705px;
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        padding-bottom: 30px;
        border-bottom: 1px solid #ebebeb;
    }
    &__comments-content {
        &.blog-details__comments-content__second {
            border-bottom: none;
            padding: 0;
        }
    }
    &__comments-content__second {
        width: 575px;
    }
    &__comments-content {
        max-width: 705px;
        padding-bottom: 30px;
        border-bottom: 1px solid #ebebeb;
    }
    &__comments-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
    &__comments-name {
        @extend %dmsans-700;
        color: #436372;
    }
    &__connents-date {
        font-size: 14px;
        line-height: 22px;
        color: #9e9e9e;
    }
    &__comments-text {
        color: #565872;
        margin-bottom: 25px;
    }
    &__comments-link {
        color: #516278;
        padding-right: 18px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: 13px;
            height: 12px;
            right: 0;
            margin-top: 8px;
            background-image: url("../images/icons/arrow-right.svg");
        }
    }
}

.post-comment {
    &__title {
        @extend %dmsans-700;
        font-size: 24px;
        color: #436372;
        margin-bottom: 40px;
    }
    &__form-input__inner {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        input {
            padding: 10px;
            width: 400px;
            border: 1px solid #e5e5e5;
            &:hover {
                border-color: #a3bbc8;
            }
        }
    }
    &__form-input__name {
        position: relative;
        background-image: url("../images/icons/user-form.svg ");
        background-repeat: no-repeat;
        background-position: top 50% right 2%;
    }

    &__form-input__mail {
        position: relative;
        background-image: url("../images/icons/email.svg");
        background-repeat: no-repeat;
        background-position: top 50% right 2%;
    }

    &__form-textarea {
        width: 100%;
        resize: none;
        min-height: 120px;
        padding: 10px;
        border-color: #e5e5e5;
        margin-bottom: 40px;
        background-image: url("../images/icons/mesage.svg");
        background-size: 15px 15px;
        background-repeat: no-repeat;
        background-position: top 18% right 2%;
        &:hover {
            border: 1px solid #a3bbc8;
        }
    }
    &__form-btn {
        text-transform: uppercase;
        color: #fff;
        font-size: 14px;
        line-height: 21px;
        padding: 15px;
        background-color: #a3bbc8;
        border: none;
        cursor: pointer;
    }
}

.product {
    padding: 120px 0;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__content {
        width: 875px;
    }
    &__gallery-shop {
        width: 875px;
        display: grid;
        grid-template-columns: repeat(3, 4fr);
        grid-gap: 30px;
        margin-bottom: 100px;
    }
    &__filter-price__visible {
        display: flex;
        justify-content: space-between;
    }
    &__filter-price__from,
    &__filter-price__to {
        padding-left: 10px;
        position: relative;
        font-size: 14px;
        line-height: 43px;
        color: $default;
        &::before {
            content: "$";
            position: absolute;
            left: 0;
        }
    }
}

.irs--flat .irs-line,
.irs--flat .irs-bar {
    top: 30px;
    height: 3px;
    background-color: #dfe7ec;
    border-radius: 4px;
}

.irs--flat .irs-bar {
    background-color: #a3bbc8;
}

.irs--flat .irs-handle > i:first-child {
    position: absolute;
    display: block;
    top: 2px;
    left: 50%;
    width: 15px;
    height: 15px;
    margin-left: -1px;
    background-color: #a3bbc8;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
    display: none;
}

.irs--flat {
    margin-bottom: 10px;
}

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
    display: none;
}

.irs--flat .irs-handle.state_hover > i:first-child,
.irs--flat .irs-handle:hover > i:first-child {
    background-color: #a3bbc8;
}

.recent-product {
    &__box {
        display: flex;
        margin-bottom: 25px;
    }

    &__img {
        margin-right: 20px;
        border: 3px solid #f2f2f2;
        padding: 5px 5px;
        width: 70px;
        height: 70px;
        object-fit: contain;
    }
    &__title {
        font-size: 14px;
        line-height: 15px;
        color: #333333;
        margin-bottom: 12px;
    }
    &__price {
        font-size: 15px;
        line-height: 27px;
        color: #333333;
    }
}

.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group {
    margin-bottom: 10px;
}

.jq-ry-container {
    padding: 0;
}

.pagination__shop {
    display: flex;
    justify-content: center;
}

.second-product {
    padding: 120px;
    &__inner {
        display: flex;
    }
    &__content {
        width: 835px;
    }
    &__item {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 40px;
    }
    &__item-images {
        border: 2px solid #f2f2f2;
        width: 365px;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            object-fit: cover;
        }
    }
    &__item__btn {
        border: none;
        background-color: #fff;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        padding: 12px 15px;
        cursor: pointer;
        transition: all 0.5s;
        &:hover {
            background-color: #a3bbc8;
            path {
                fill: #fff;
            }
        }
        & + .second-product__item__btn {
            margin-left: 5px;
        }
    }
    &__item-info {
        max-width: 405px;
    }
    &__item-title {
        font-size: 40px;
        line-height: 57px;
        color: #333333;
        margin-bottom: 10px;
    }
    &__star {
        margin-bottom: 10px;
    }
    &__item-price {
        font-size: 30px;
        line-height: 45px;
        color: #333333;
    }
    &__item-text {
        margin-bottom: 25px;
    }
    &__item-btn {
        background-color: #a3bbc8;
        color: #fff;
        text-transform: uppercase;
        padding: 15px 50px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }
}

.contact {
    padding: 120px 0 135px;
    &__mini-title {
        text-align: center;
        font-size: 16px;
        line-height: 20px;
        @extend %dmsans-700;
        color: #a3bbc8;
    }
    &__title {
        text-align: center;
        font-size: 35px;
        line-height: 57px;
        color: #436372;
        @extend %dmsans-700;
        margin-bottom: 80px;
    }
    &__link-box {
        max-width: 270px;
        text-align: center;
        margin: 0 auto;
        color: #565872;
        a {
            color: #565872;
        }
    }
}

.contact-bottom {
    display: flex;
    justify-content: space-between;
    &__form {
        width: 620px;
    }
    &__form-input__inner {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    &__user {
        position: relative;
        background-image: url("../images/icons/user-form-black.svg ");
        background-repeat: no-repeat;
        background-position: top 50% right 2%;
        background-size: 15px;
    }
    &__email {
        position: relative;
        background-image: url("../images/icons/email-black.svg ");
        background-repeat: no-repeat;
        background-position: top 50% right 2%;
        background-size: 20px;
    }
    &__form-input {
        width: 300px;
        padding: 10px;
        border: none;
        background-color: #fafafa;
    }
    &__form-textarea {
        width: 100%;
        padding: 10px;
        resize: none;
        min-height: 175px;
        margin-bottom: 20px;
        border: none;
        background-color: #fafafa;
        position: relative;
        background-image: url("../images/icons/mesage-black.svg ");
        background-repeat: no-repeat;
        background-position: top 5% right 2%;
        background-size: 20px;
    }
    &__form-btn {
        text-transform: uppercase;
        color: #fff;
        background-color: #a3bbc8;
        padding: 15px 50px;
        @extend %dmsans-700;
        font-size: 15px;
        line-height: 25px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }
}

.product-cart {
    padding: 120px 0;
    &__top {
        display: flex;
    }
    &__slider-inner {
        width: 550px;
        display: flex;
        margin-right: 65px;
    }
    &__sub-slider {
        height: 550px;
        width: 140px;
        padding: 0;
        margin-right: 25px;
        padding: 0;
    }
    &__sub-slider__item {
        width: 150px;
        height: 170px;
        border: 2px solid #f2f2f2;
        margin-bottom: 33px;
        cursor: pointer;
        img {
            width: 120px;
            height: 140px;
            object-fit: contain;
            margin-top: 10px;
        }
    }
    &__slider {
        width: 390px;
        height: 585px;
        border: 2px solid #f2f2f2;
        img {
            object-fit: cover;
            margin: 20% auto;
        }
    }
    &__slider-item {
        width: 390px;
        height: 450px;
    }
    &__content {
        width: 570px;
        margin-top: 25px;
    }
    &__content-title {
        font-size: 40px;
        line-height: 52px;
        color: #333333;
        margin-bottom: 40px;
    }
    &__content-price {
        font-size: 30px;
        line-height: 45px;
        color: #333333;
        margin-bottom: 35px;
        display: inline-block;
    }
    &__content-text {
        margin-bottom: 35px;
    }
    &__content-btn-inner {
        margin-bottom: 50px;
    }
    &__content-num {
        display: inline-block;
        text-align: center;
        margin-right: 15px;
    }
    &__content-btn {
        border-radius: 5px;
        padding: 10px 50px;
        text-transform: uppercase;
        color: #fff;
        background-color: #a3bbc8;
        border: none;
        cursor: pointer;
        font-size: 15px;
        line-height: 30px;
    }
    &__content-info {
        display: block;
    }
}

.slick-list {
    padding: 0 !important;
}

.jq-number {
    width: 150px;

    box-shadow: none;
    background-color: transparent;
    color: #333333;
}

.jq-number__spin {
    position: absolute;
    top: 0;
    width: 50px;
    height: 50px;
    border: 1px solid #a3bbc8;
    background: transparent;
    user-select: none;
    box-shadow: none;
    text-shadow: none;
    cursor: pointer;
    border-radius: 0;
    &:hover {
        background: transparent;
        background: transparent;
        background: transparent;
    }
}
.jq-number__spin.minus {
    left: 0;
    top: -1px;
}

.jq-number__spin.plus {
    right: 0;
    top: -1px;
}

.jq-number__field {
    padding: 7px 48px;
    border: 1px solid #a3bbc8;
    border-radius: 0;
}

.jq-number__field input {
    width: 50px;
    text-align: center;
}

.jq-number__spin:after {
    content: "+";
    position: absolute;
    top: 9px;
    left: 20px;
    width: 0;
    height: 0;
    border-right: none;
    border-bottom: none;
    border-left: none;
}

.jq-number__spin.minus:after {
    content: "-";
    top: 10px;
    left: 20px;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: none;
}

.product-tabs {
    padding: 100px 0 120px 0;

    &__top {
        margin-bottom: 40px;
    }
    &__top-item {
        width: 240px;
        padding: 10px 0;
        color: $default;
        @extend %rubik-500;
        font-size: 18px;
        line-height: 40px;
        background-color: #edf1f4;
        border-radius: 5px;
        display: inline-block;
        text-align: center;
        transition: all 0.3s;
        &:hover {
            color: #fff;
            background-color: #a3bbc8;
        }
        & + .product-tabs__top-item {
            margin-left: 10px;
        }
    }
    &__top-item--active {
        color: #fff;
        background-color: #a3bbc8;
    }
    &__content-item {
        display: none;
        &.product-tabs__content-item--active {
            display: block;
        }
    }
    &__content-comment__item {
        justify-content: flex-start;
    }
    &__comment-content {
        margin-left: 50px;
    }
    &__post-coments {
        max-width: 800px;
    }
    &__form-input__mail {
        margin-left: 50px;
    }
}

.related-products {
    &__slider {
    }
    &__item {
        max-width: 260px;
        transform: translateX(15px);
        margin-top: 10px;
    }
}

.slick-arrow {
    position: absolute;
    top: 0;
    padding: 0;
    font-size: 0;
    background-color: transparent;
    margin-top: -80px;
    border: none;
    cursor: pointer;
    outline: none;
}

.slick-next {
    right: 0;
    padding: 19px 12px;
    border: 2px solid #a3bbc8;
}

.slick-prev {
    right: 70px;
    padding: 19px 12px;
    border: 2px solid #a3bbc8;
}

.slick-disabled {
    border-color: #edf1f4;
}

@import "media";
